#grid-container {
    height: 50em;
    width: 50em;
    border: 2px solid black;

    display: grid;
    margin-top: 5px;
}

.pix {
    border: 1px solid black;
}

.drawn {
    background-color: black;
}